@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #161618;
    color: #ad9978;
    height: 100vh;
}
.base_container{}